#picture {
    margin-left: auto;
    margin-right: auto;
	padding: 10px;
}

#room-description{
    width: 600px;
    height: auto;
    margin: auto;
    text-align: justify;
}

#form {
    width: 100%;
}

a {
    color: #44bdfb;
	font-style: normal;
    text-decoration: none;
}

a:hover {
    color: black;
	font-style: normal;
    text-decoration: none;
}

h1:hover{
    color: #b0b0b0;
}

body {
    background: rgb(43, 43, 43);
	text-align: center;
	font-size: 15px;
	font-family: "Courier New", courier, monospace;
	color: #b1b0a5;
}

h1 {
    color: #fcfcfc;
}

input {
	padding: 5px;
	border-radius: 5px;
}

blockquote {
	font-size: 20px;
	color: #e3e3e3;
	text-align: center;
}