#picture {
    background: #3a3a3a;
    margin-bottom: 15px;

}

#room-description{
    width: 600px;
    height: auto;
    margin: auto;
    text-align: justify;
}

#room-action {
    width: 600px;
    height: auto;
    margin: auto;
	font-size: 15px;
	color: #e3e3e3;
	text-align: left;
    padding: 10px;
}

#container:hover {
    background: #474747;
}

#container{
	width: 100%;
	background: #2f2f2f;
}
#form {
    width: 100%;
}

a {
    color: #44bdfb;
	font-style: normal;
    text-decoration: none;
}

a:hover {
    color: #2d769e;
	font-style: normal;
    text-decoration: none;
}

h1:hover{
    color: #b0b0b0;
}

body {
    margin: 0px;
    background: #2B2B2B;
	text-align: center;
	font-size: 15px;
	font-family: "Courier New", courier, monospace;
	color: #b1b0a5;
}

h1 {
    color: #fcfcfc;
}

input {
	padding: 5px;
	border-radius: 5px;
}

