#change_room, #change_user{
	background: url("room-icon.png") no-repeat;
	width: 100px;
	height: 25px;
	padding-left: 40px;
	padding-top: 15px;
	float: left;
}

#change_user {
	background: url("user-icon.png") no-repeat;
}

#options {
	width: 280px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 50px;
}

#help {
	background: url("help-icon.png") no-repeat;
	width: 40px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
}

#help div {
	z-index:10;
	visibility:hidden;
	width: 500px;
	height: auto;
	margin-left: -240px;
	margin-top: -180px;
	background: #161616;
	padding: 5px;
	border-radius: 10px;
	position: absolute;
	box-shadow: 0px 5px 10px #36547A;
}

#help:hover div {
	visibility:visible;
}

#picture {
    background: #3a3a3a;
    margin-bottom: 15px;

}

#room-description {
    width: 600px;
    height: auto;
    margin: auto;
    text-align: justify;
}

#room-action {
    width: 600px;
    height: auto;
    margin: auto;
	font-size: 15px;
	color: #e3e3e3;
	text-align: left;
    padding: 10px;
}


#container {
	width: 100%;
	background: #2f2f2f;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#form {
    width: 100%;
}

a {
    color: #44bdfb;
	font-style: normal;
    text-decoration: none;
}

a:hover {
    color: #2d769e;
	font-style: normal;
    text-decoration: none;
}

h1:hover{
    color: #b0b0b0;
	text-shadow: 1px 2px 5px #E03232;
}

body {
    margin: 0px;
    background: #2B2B2B;
	text-align: center;
	font-size: 15px;
	font-family: "Courier New", courier, monospace;
	color: #b1b0a5;
}

h1 {
	font-family: fantasy    ;
    color: #fcfcfc;
	text-shadow: 1px 2px 5px #0AA2DD;
}

ol {
	text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}

input {
	padding: 5px;
	border-radius: 5px;
	border: none;
	font-size: 15px;
	color: #4B4B4B;
	background: #E2E2E2;
}

input[type="submit"] {
    border: 0px;
    background-color: rgb(228, 55, 55);
}

input[type="submit"]:hover {
	background-color: black;
	color: white

}
