$def with (content)

<html>
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script>
        function handle_inputs(validate_new) {
            var user_new = document.getElementById("user_new").value;
            var pass_new = document.getElementById("pass_new").value;
            var user_resume = document.getElementById("user_resume").value;
            var pass_resume = document.getElementById("pass_resume").value;

            if ( validate_new == 1){
               if (user_new == "" || pass_new == "") {
                   alert("Pick a password");
                   return false
               } else if (user_new == "Username") {
                   alert("Enter a username");
                   return false
               }
           }
           else {
                if (user_resume == "" || pass_resume == "") {
                    alert("Pick a password");
                    return false
                } else if (user_resume == "Username") {
                    alert("Enter a username");
                    return false
                }
            }
        }
    </script>
    <script>
        jQuery(document).ready(function() {
           jQuery('#message').delay(2000).fadeOut(400);
        });
    </script>
<link rel="stylesheet" type="text/css" href="/static/stylesheet.css"/>
<title>Gothons From Planet Percal #25</title>
</head>
    <body>
        <h1>Gothons From Planet Percal #25</h1>
        $:content
        <div id="footer"></div>
    </body>
</html>