$def with (room, picture, actions, attempts)
<h1 xmlns="http://www.w3.org/1999/html"> $room.name </h1>

<div id="picture">
    <img src=$picture/>
</div>

<div id="room-description">
    $room.description
</div>
<br />

<div id="container">
    $if room.name == "Death" or room.name =="The End":
        <p><a href="/">Play again?</a></p>
    $elif room.name == "Laser Weapon Armory":
        $attempts Attempts Left:
        <form method="post" action="/game">
            <input name="armory_code" />
            <input type="submit" value="GO!" />
        </form>
    $else:
        <b>What do you do?</b>
        <form method="post" action="/game">
            <input name="action" />
            <input type="submit" value="GO!">
        </form>
        <p/>
</div>




        