$def with (room, picture)
<h1 xmlns="http://www.w3.org/1999/html"> $room.name </h1>

<div id="picture">
    <img src=$picture/>
</div>

<div id="room-description">
    $room.description

    $if room.name == "death":
            <p><a href="/">Play again?</a></p>
    $else:
            <p>
    <blockquote>
            <form action="/game" method="POST">
               What do you do? <input type="text" name="action"><input value="Go" type="submit">
            </form>
    </blockquote>
</div>
        